* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 1.7;
    color: #383838;
}

.container {
    max-width: 120rem;
    margin: 0 auto;
}

header {
    display: flex;
    width: 100%;
    position: relative;
    overflow: hidden;
    z-index: 1;
}

header::before {
    content: '';
    position: absolute;
    background-color: #662e9b;
    width: 50rem;
    height: 50rem;
    left: -10rem;
    top: -20rem;
    border-radius: 50%;
}

header::after {
    content: '';
    position: absolute;
    background-color: #ea3546;
    width: 15rem;
    height: 15rem;
    left: 32rem;
    top: 20rem;
    border-radius: 50%;
}

.section-aside {
    width: 40%;
    padding: 3rem 5rem;
    background-color: #f8f9fa;
}

.section-main {
    width: 60%;
    padding: 3rem 5rem;
}

.header-photo {
    display: flex;
    justify-content: center;
    padding-top: 9rem;
}

img {
    border-radius: 50%;
    border: 2rem solid #f8f9fa;
    z-index: 2;
}

.header-name {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 9rem;
}

h1 {
    font-size: 4rem;
    letter-spacing: 0.2px;
    font-weight: 700;
}

.header-name__position {
    font-size: 3rem;
}

main {
    display: flex;
    width: 100%;
    position: relative;
    overflow: hidden;
    z-index: 1;
}

main::after {
    content: '';
    position: absolute;
    background-color:#ea3546;
    width: 45rem;
    height: 45rem;
    bottom: -20rem;
    right: -25rem;
    border-radius: 50%;
}

.section-title {
    font-weight: 700;
    margin-bottom: 1.5rem;
}

.section {
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

.contact-info {
    display: flex;
    flex-direction: column;
}

.contact-img {
    width: 20px;
    height: 20px;
    background-size: cover;
}

.contact-container {
    display: flex;
    align-items: center;
    gap: 8px;
}

.contact-img__github {
    background-image: url(github.png);
}

.contact-img__discord {
    background-image: url(discord.png);
}

.contact-img__location {
    background-image: url(location.png);
}

a {
    text-decoration: none;
}

a:link, 
a:visited {
    color: #383838;
}

a:hover,
a:visited {
    text-shadow: #383838 1px 0 10px;
}

.footer-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10rem;
    height: 7rem;
    background-color: #662e9b;
    color: #f8f9fa;
}

.footer-contact-img__github {
    background-image: url(github-footer.png);
}

.footer-contact-img__rsschool {
    background-image: url(rs_school_js.svg);
    width: 7rem;
    height: 2.5rem;
    background-size: cover;
}

.footer-link:link, 
.footer-link:visited {
    color: #f8f9fa;
}

.footer-link:hover, 
.footer-link:visited {
    text-shadow: #f8f9fa 1px 0 10px;
}

pre {
    padding-top: 2rem;
    background-color: #f8f9fa;
}